In [14]:
#import numpy as np
#import pandas as pd
#import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score, mean_squared_error
#import AllTogether as t
import seaborn as sns
#%matplotlib inline

<h3> Loading and exploring the Seattle Airbnb Data </h3>

In this first section, we are going to load and explore the Seattle Airbnb Data set. The aim is to identify the most important features which we can use to answer the business questions given above.

In [25]:
df_seattle_calendar = pd.read_csv('./seattle_airbnb_data/calendar.csv')
df_seattle_listings = pd.read_csv('./seattle_airbnb_data/listings.csv')
df_seattle_reviews = pd.read_csv('./seattle_airbnb_data/reviews.csv')

print(df_seattle_calendar.head())
print(df_seattle_listings.head())
print(df_seattle_reviews.head())

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN
        id                           listing_url       scrape_id last_scraped  \
0   241032   https://www.airbnb.com/rooms/241032  20160104002432   2016-01-04
1   953595   https://www.airbnb.com/rooms/953595  20160104002432   2016-01-04
2  3308979  https://www.airbnb.com/rooms/3308979  20160104002432   2016-01-04
3  7421966  https://www.airbnb.com/rooms/7421966  20160104002432   2016-01-04
4   278830   https://www.airbnb.com/rooms/278830  20160104002432   2016-01-04

                                  name  \
0         Stylish Queen Anne Apartment
1   Bright & Airy Queen Anne Apartment
2  New Modern House-Amazing water view
3                   Queen Anne Chateau
4       Charming craftsman 3 bdm house

                                             summary  \
0                                                NaN
1  Chemically sensitive? We've removed the irrita...
2  New modern house built in 2013.  Spectacular s...
3  A charming apartment that sits atop Queen Anne...
4  Cozy family craftman house in beautiful neighb...

                                               space  \
0  Make your self at home in this charming one-be...
1  Beautiful, hypoallergenic apartment in an extr...
2  Our house is modern, light and fresh with a wa...
3                                                NaN
4  Cozy family craftman house in beautiful neighb...

                                         description experiences_offered  \
0  Make your self at home in this charming one-be...                none
1  Chemically sensitive? We've removed the irrita...                none
2  New modern house built in 2013.  Spectacular s...                none
3  A charming apartment that sits atop Queen Anne...                none
4  Cozy family craftman house in beautiful neighb...                none

                               neighborhood_overview  ... review_scores_value  \
0                                                NaN  ...                10.0
1  Queen Anne is a wonderful, truly functional vi...  ...                10.0
2  Upper Queen Anne is a charming neighborhood fu...  ...                10.0
3                                                NaN  ...                 NaN
4  We are in the beautiful neighborhood of Queen ...  ...                 9.0

  requires_license license jurisdiction_names instant_bookable  \
0                f     NaN         WASHINGTON                f
1                f     NaN         WASHINGTON                f
2                f     NaN         WASHINGTON                f
3                f     NaN         WASHINGTON                f
4                f     NaN         WASHINGTON                f

  cancellation_policy  require_guest_profile_picture  \
0            moderate                              f
1              strict                              t
2              strict                              f
3            flexible                              f
4              strict                              f

  require_guest_phone_verification calculated_host_listings_count  \
0                                f                              2
1                                t                              6
2                                f                              2
3                                f                              1
4                                f                              1

  reviews_per_month
0              4.07
1              1.48
2              1.15
3               NaN
4              0.89

[5 rows x 92 columns]
   listing_id        id        date  reviewer_id reviewer_name  \
0     7202016  38917982  2015-07-19     28943674        Bianca
1     7202016  39087409  2015-07-20     32440555         Frank
2     7202016  39820030  2015-07-26     37722850           Ian
3     7202016  40813543  2015-08-02     33671805        George
4     7202016  41986501  2015-08-10     34959538          Ming

                                            comments
0  Cute and cozy place. Perfect location to every...
1  Kelly has a great room in a very central locat...
2  Very spacious apartment, and in a great neighb...
3  Close to Seattle Center and all it has to offe...
4  Kelly was a great host and very accommodating ...

In [23]:
df_boston = pd.read_csv('./boston_airbnb_data/calendar.csv')
df_boston.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [22]:
df_boston.shape

(3585, 95)